@import "../../constants/colors.css";

.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--game-text-color);
  padding: 0 50px;
  height: 100vh;
}

.game-content-score {
  display: flex;
  font-weight: bold;
  color: black;
}

.game-content-score-count {
  color: var(--accent-color);
  margin-left: 8px;
}
